/// Inspired by https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/
/// @content @function slamp($minSize, $maxSize, $minLimit: null, $maxLimit: null){ ... }
/// @param {String} $minSize - required - the min size of the property (px, em, rem, %, vw [...])
/// @param {String} $maxSize - required - the max size of the property (px, em, rem, %, vw [...])
/// @param {String} $minLimit - optional - the min limit if different from default (px, em, rem, %, vw [...])
/// @param {String} $maxLimit - optional - the max limit if different from default (px, em, rem, %, vw [...])
/// @return clamp($minSize[rem], $intersection[rem] + ($slope * 100)[vw], $maxSize[rem])

@function slamp($minSize, $maxSize, $minLimit: null, $maxLimit: null) {  
  $merged: map-merge($defaults_slamp_limits, $slamp_limits);

  $minSizeRem: rem($minSize);
  $maxSizeRem: rem($maxSize);

  $minLimitRem: rem(map-get($merged, 'min'));
  @if($minLimit){
    $minLimitRem: rem($minLimit);
  }

  $maxLimitRem: rem(map-get($merged, 'max'));
  @if($maxLimit){
    $maxLimitRem: rem($maxLimit);
  }

  $slope: math.div(num($maxSizeRem) - num($minSizeRem), num($maxLimitRem) - num($minLimitRem));
  $intersection: (-1 * num($minLimitRem)) * $slope + num($minSizeRem);

  @return clamp(#{$minSizeRem}, #{rem($intersection)} + #{$slope * 100vw}, #{$maxSizeRem});
}